@{
    ViewBag.Title = "Dashboard";
    var error = TempData["error"];
}

@Html.Partial("~/Views/Auction/_SearchBar.cshtml", new AuctionHouse.Models.ViewModels.SearchAuctionsViewModel())

<!-- content -->
<div class="row content">
    <div class="content-fluid" id="items" style="width:100%;">
    </div>
</div>
<!-- pagination -->
<div class="row">
    <div class="col-sm-12" style="text-align:center;">
        <ul class="item-pagination" id="pagination"></ul>
    </div>
</div>

@section Scripts
{
    <script>
        window.onload = function () {
            var auctions = @Html.Raw(Json.Encode(ViewBag.Auctions.Data));
            var page_size = @ViewBag.Page_size;
            load(auctions, page_size);
            if (error != null) alert(error);
        };
    </script>
}


