.list-table {
    overflow: auto;
    height: 300px;
    width: 100%;
}

.list-table td, th {
    padding: 10px;
    width: 100%;/*150px;*/
}

.details-column {
    text-align: center;
    width: 100%;
}

.details-column table {
    margin: auto;
}

